# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea

# MacOS
.DS_Store

config.py
*.json

*.asc
*.asc.gz
*.aux.xml
*.grb2
*.nc
*.tif
*.zip
